// Buttons Customisation

.btn-primary {
  &:hover,
  &:active {
    color: $gray-100 !important;
  }
}

.btn-outline-dark {
  border-color: $gray-300;
}
@include color-mode(dark) {
  .btn-outline-dark {
    color: $gray-300;

    &:hover,
    &.active {
      color: $gray-600;
      border-color: $gray-300;
      background-color: $gray-300;
    }
  }
}
